.titulos{
    text-align: center;
    padding: 5px;
}

.imgWallpaper{
    max-width: 400px;
    height: 533px;
}

.rowWallpapers div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 25px;
}

.rowPhotography{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.rowPhotography img{
    max-width: 400px;
    padding: 5px;
}

.rowWhoIAm img{
    max-width: 500px;
}

.rowWhoIAm{
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mainContacto{
    height: 87vh;
    display: flex;
    align-items: center;
}

.footer{
    background-color: grey;
    color: white;
    font-weight: 600;
}